{% load static %}
<footer>
    <div class="container">
        <section class="footer-sec">
            <div class="row align-items-center">
                <div class="col-lg-7">
                    <div class="section-intro">
                        <div class="section-title">
                            <h2>CONTACT US TO <br> BOOK YOUR STAY</h2>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-6">
                            <div class="footer-text">
                                <p>We genuinely care about you and <br> your stay with us</p>
                            </div>
                        </div>
                        <div class="col-md-6">
                            <div class="footer-text">
                                <p>Let us know how we can better <br> serve you</p>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-lg-5">
                    <div class="footer-contact">
                        <ul>
                            <li><a href="mailto:info@aerocity.np">{{contact.Email}}</a></li>
                            <li><a href="tel:+977 9826173628">{{contact.PhoneNo}}</a></li>
                            <li>{{contact.Adddress}}</li>
                        </ul>
                    </div>
                </div>
            </div>
        </section>
    </div>
    <div class="copy-right text-center p-4">
    © 2023 ALL RIGHTS RESERVED. DEVELOPED BY DANFE SOLUTION
    </div>
    <div id="btn-scrollup">
                <a title="Go Top" class="scrollup button-circle" href="#"><i class="fas fa-angle-up"></i></a>
            </div>
</footer>